<aside class="aside">
	<div class="aside__title">
		Personal info
	</div>
	<div class="aside__block">
		<div class="aside__subtitle">
			Email:
		</div>
		<div class="aside__text">
			<a href="mailto:ivanauchynnikau@gmail.com" target="_blank">
				ivanauchynnikau@gmail.com
			</a>
		</div>
	</div>
	<div class="aside__block">
		<div class="aside__subtitle">
			GitHub
		</div>
		<div class="aside__text">
			<a href="https://github.com/ivanauchynnikau" target="_blank">
				github.com/ivanauchynnikau
			</a>
		</div>
	</div>
	<div class="aside__block">
		<div class="aside__subtitle">
			LinkedIn:
		</div>
		<div class="aside__text">
			<a href="https://www.linkedin.com/in/ivan-auchynnikau-b6379594/" target="_blank">
				ivan-auchynnikau
			</a>
		</div>
	</div>
	<div class="aside__block">
		<div class="aside__subtitle">
			Skype:
		</div>
		<div class="aside__text">
			<a href="skype:ivan.auchynnikau" target="_blank">
				ivan.auchynnikau
			</a>
		</div>
	</div>

	<div class="aside__block">
		<div class="aside__subtitle">
			Phone:
		</div>
		<div class="aside__text">
			<a href="tel:+375296729095" target="_blank">
				+375(29)6729095
			</a>
		</div>
	</div>


</aside>