<main class="main">
	<div class="main__block">
		<div class="main__title">
			About me:
		</div>
		<div class="main__text">
			6+ years of professional experience in Software Industry.
		</div>
		<div class="main__text">
			Involved in implementation of a variety of web applications in various domains.
		</div>
		<div class="main__text">
			Ability to participate in individual or team software development process.
		</div>
		<div class="main__text">
			More than 20 projects finished.
		</div>
		<div class="main__text">
			Has experience in dedicated team work.
		</div>
	</div>
</main>