body {
  min-width: 360px;
  font-size: 22px;
  color: #3f3f3f;
  scroll-behavior: smooth;
  overflow-x: auto;
  font-family: 'Roboto Mono', monospace;
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
.content {
  display: flex;
  justify-content: space-between;
}

a {
  color: #2EA3F2;
  transition: opacity .2s ease-in-out;

  &:focus,
  &:hover {
    opacity: .8;
  }

  &:focus {
    opacity: .7;
  }
}